<div class="col-10 offset-1 about">
  <h1>About Musiquotes</h1>

  <p>
    Musiquotes was built by <a href="https://github.com/JTDeSanto">Jesse DeSanto</a>
  </p>
  <p>
    Jesse's mission has always to do things with a different touch. Be it music, coding or parenthood, he's always sought a path of uniqueness through familiarity, humility and beauty.
  </p>
  <p>
    If you want to see a different angle, follow me down the path of most resistance.
  </p>
  <p>
    Blurbity, blippity, boppity. Boo!
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-1">
      <h2 class="text-center">Jesse DeSanto</h2>
      <br />
        <p>
          Jesse DeSanto is currently a wordpress theme jockey looking to expand in to true web development / app building and beyond.
        </p>
    </div>

  </div>

</div>
<br class="clear" />
<br />
<br />
<br />
<br />